<script>     
(function(){
    var tour = new Tour({
        storage : false
    });
 
    tour.addSteps([
      {
        element: ".tour-step.tour-step-one",
        placement: "top",
        orphan: true,
        title: "Bem vindo a calculadora Infernal.",
        content: "se você não está familiarizado com a calculadora vamos fazer um passeio pelas funcionalidades e entender como funciona!",
      },
      {
        element: ".tour-step.tour-step-one",
        placement: "bottom",
        title: "Pontuação necessária.",
        content: "Vamos começar escrevendo a pontuação do Infernal que deseja alcançar!",
      },
      {
        element: ".tour-step.tour-step-two",
        placement: "bottom",
        title: "Adicionando Aceleradores.",
        content: "Agora vamos registrar todos os aceleradores, olhe na sua bolsa e coloque a quantidade indicada!, Dica, some os aceleradores comuns com os aceleradores de pesquisa e adicione o total.",
      },
      {
        element: ".tour-step.tour-step-tree",
        placement: "bottom",
        title: "Adicionando fonte de pontuação.",
        content: "Vamos adicionar a fonte de pontuação. Essa fonte de pontuação equivale a sua construção, pesquisa, monstro ou labirinto, ou sejá é um item do evento infernal que você deseja completar.<br><br> Clique em adicionar e em seguida em Avançar.",
      },
      {
        element: ".tour-step.tour-step-four",
        placement: "bottom",
        title: "Selecionando o tipo de fonte.",
        content: "Clique para selecionar o tipo de fonte, pode ser Pesquisa, Construção, Tropas, Labirinto e etc.",
      },
      {
        element: ".tour-step.tour-step-five",
        placement: "bottom",
        title: "Selecionando o peso da fonte.",
        content: "O peso da fonte geralemnte é quanto o item vale, por exemplo: Pesquisa tem peso de 1 ponto então se você fizer uma pesquisa de poder 300.000 essa mesma quantidade vai equivaler em ponto.",
      },
      {
        element: ".tour-step.tour-step-six",
        placement: "bottom",
        title: "Escrevendo o poder recebido.",
        content: "O poder recebido é quanto você vai ganhar por aquele item, por exemplo se você vai fazer uma missão que aumenta o poder em 483,734 então esse é o poder recebido.",
      },
      {
        element: ".tour-step.tour-step-seven",
        placement: "bottom",
        title: "Escrevendo o tempo real.",
        content: "O tempo real é o tempo que levará para você concluir determinada missão, construção, tropa, fusão etc... Aqui adicionanmos ela no seguinte formato<br> <br>  <center>Dia Hora Minuto</center> <br<br>Sabemos que tem os segundos mas não é interessante chegamos nesse nivel de exigência.",
      },
      {
        element: ".tour-step.tour-step-eight",
        placement: "bottom",
        title: "Removendo fonte de pontuação.",
        content: "Com o botão remover fonte de pontuação, você pode retirar uma fonte que já não é interessante para o seu calculo.",
      },
      {
        element: ".tour-step.tour-step-nine
        placement: "bottom",
        title: "Relógio.
        content: "O relógio indica se os seus aceleradores são suficientes para concluir determinada fonte do infernal, o relógio pode assumir 3 três tipos de cores:<br><br> 1: Vermelho (Seus aceleradores não são suficientes)<br>2: Laranja (Seus aceleradores garantem 60% ou mais do tempo necessário para concluir<br>3: Verde (Seus aceleradores garatem a conclusão da fonte)",
      },
        
        
 
    ]);
 
    // Initialize the tour
    tour.init();
 
    // Start the tour
    tour.start();
 
}());
</script>

<form class="pure-form pure-form-stacked">
    <fieldset>
        <div class="pure-g pure-g-no-sparcing">
            <div class="pure-g">
                    <input type="hidden" value='1' id="form-infernal">
                <div class="pure-u-1-2 pure-u-md-1-2">
                    <label for="min" class="tour-step tour-step-one">Pontuação Necessaria</label>
                    <input data-mask="000,000" data-mask-reverse="true" id="pontu-necessaria" class="pure-u-23-24" type="text" step="any" placeholder="000,000">
                </div>

                <div class="pure-u-1-2 pure-u-md-1-2">
                    <label for="min">&emsp;</label>
                    <button class="pure-button tour-step tour-step-tree" onclick="adicionarFonte();return false;">
                        <i class="fas fa-plus-square"></i>
                        Adicionar Fonte de Pontuação
                    </button>
                </div>

                <div class="pure-u-1-2 pure-u-md-1-2 infernal_informacoes_extras">
                    <label for="min">Pontuação Atingida</label>
                    <input data-mask="000,000" data-mask-reverse="true" id="pontu-atingida" class="pure-u-23-24 pure-button-primary" type="text" step="any" value="000,000" autocomplete="off"  disabled="true">
                </div>
    
                <div class="pure-u-1-2 pure-u-md-1-2 infernal_informacoes_extras">
                    <label for="min">Tempo Restante</label>
                    <input data-mask="00 D 00:00" data-mask-reverse="true" id="tempo-restante" class="pure-u-23-24 button-secondary" type="text" step="any" value="" autocomplete="off" disabled="true">
                </div>

            </div>
            <hr class="hr-fonte-pontuacao">
            <div class="html-fonte" id="html-fonte">

            </div>
        </div>

    </fieldset>
</form>
