<form class="pure-form pure-form-stacked">
    <fieldset>
        <div class="pure-g pure-g-no-sparcing">
            <div class="pure-g">
                    <input type="hidden" value='1' id="form-infernal">
                <div class="pure-u-1-2 pure-u-md-1-2">
                    <label for="min">Pontuação Necessaria</label>
                    <input data-mask="000,000" data-mask-reverse="true" id="pontu-necessaria" class="pure-u-23-24" type="text" placeholder="000,000">
                </div>

                <div class="pure-u-1-2 pure-u-md-1-2">
                    <label for="min">&emsp;</label>
                    <button class="pure-button" onclick="adicionarFonte();return false;">
                        <i class="fas fa-plus-square"></i>
                        Adicionar Fonte de Pontuação
                    </button>
                </div>
            </div>
            <hr class="hr-fonte-pontuacao">
            <div class="html-fonte" id="html-fonte">

            </div>
        </div>

    </fieldset>
</form>
