<form class="pure-form pure-form-stacked">
    <fieldset>
        <div class="pure-g pure-g-no-sparcing">
            <div class="pure-g">
                <div class="pure-u-1-2 pure-u-md-1-2">
                    <label for="min">Pontuação Necessaria</label>
                    <input id="pontu-necessaria" class="pure-u-23-24" type="number" min="0" placeholder="0">
                </div>

                <div class="pure-u-1-2 pure-u-md-1-2">
                    <br>
                    <button class="button-success pure-button">
                        <i class="fas fa-plus-square"></i>
                        Adicionar Fonte de Pontuação
                    </button>
                </div>
            </div>
            
            <div class="pure-g">
                <div class="pure-u-1-2 pure-u-md-1-2">
                    <label for="min">Tipo de Fonte</label>
                    <select class="pure-u-23-24">
                        <!--<option value="1">Fundir Pactos</option>-->
                        <option value="2">Construção</option>
                        <option value="3">Pesquisa</option>
                        <!--<option value="4">Tropa</option>-->
                    </select>
                </div>
                
                <div class="pure-u-1-2 pure-u-md-1-2">
                    <label for="min">Peso da Fonte</label>
                    <input id="peso_fonte"  class="pure-u-23-24" type="number" placeholder="0" min="0" max="20000">
                </div>
                
                <div class="pure-u-1-2 pure-u-md-1-2">
                    <label for="min">Poder Recebido</label>
                    <input id="poder-recebido" class="pure-u-23-24" type="number" step="any" min="0" placeholder="0">
                </div>

                <div class="pure-u-1-2 pure-u-md-1-2">
                    <label for="min">Tempo Real</label>
                    <input id="tempo-real" class="pure-u-23-24" type="text" step="any" min="0" placeholder="0">
                </div>
            </div>
            
        </div>

    </fieldset>
</form>
