<div class="pure-g pure-g-no-sparcing">
    <table class="pure-table pure-table-horizontal table-vel">
        <thead>
            <tr>
                <th width="75" class="txt-right">Ataque</th>
                <th class="txt-center"></th>
                <th class="txt-center">Mult</th>
                <th class="txt-center"></th>
                <th class="txt-center">Dano</th>
                <th class="txt-center"></th>
                <th class="txt-center">Vida Inicial</th>
                <th class="txt-center"></th>
                <th class="txt-center">Vida Final</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="txt-right">1 Ataque</td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="atac-m-1"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="dan-m-1"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-m-1"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-mm-1"></td>
            </tr>

            <tr>
                <td class="txt-right">2 Ataque</td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="atac-m-2"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="dan-m-2"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-m-2"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-mm-2"></td>
            </tr>

            <tr>
                <td class="txt-right">3 Ataque</td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="atac-m-3"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="dan-m-3"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-m-3"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-mm-3"></td>
            </tr>

            <tr>
                <td class="txt-right">4 Ataque</td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="atac-m-4"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="dan-m-4"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-m-4"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-mm-4"></td>
            </tr>

            <tr>
                <td class="txt-right">5 Ataque</td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="atac-m-5"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="dan-m-5"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-m-5"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-mm-5"></td>
            </tr>

            <tr>
                <td class="txt-right">6 Ataque</td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="atac-m-6"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="dan-m-6"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-m-6"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-mm-6"></td>
            </tr>

            <tr>
                <td class="txt-right">7 Ataque</td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="atac-m-7"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="dan-m-7"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-m-7"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-mm-7"></td>
            </tr>

            <tr>
                <td class="txt-right">8 Ataque</td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="atac-m-8"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="dan-m-8"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-m-8"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-mm-8"></td>
            </tr>

            <tr>
                <td class="txt-right">9 Ataque</td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="atac-m-9"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="dan-m-9"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-m-9"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-mm-9"></td>
            </tr>

            <tr>
                <td class="txt-right">10 Ataque</td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="atac-m-10"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="dan-m-10"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-m-10"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-mm-10"></td>
            </tr>

            <tr>
                <td class="txt-right">11 Ataque</td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="atac-m-11"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="dan-m-11"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-m-11"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-mm-11"></td>
            </tr>

            <tr>
                <td class="txt-right">12 Ataque</td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="atac-m-12"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="dan-m-12"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-m-12"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-mm-12"></td>
            </tr>

            <tr>
                <td class="txt-right">13 Ataque</td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="atac-m-13"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="dan-m-13"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-m-13"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-mm-13"></td>
            </tr>

            <tr>
                <td class="txt-right">14 Ataque</td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="atac-m-14"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="dan-m-14"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-m-14"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-mm-14"></td>
            </tr>

            <tr>
                <td class="txt-right">15 Ataque</td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="atac-m-15"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="dan-m-15"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-m-15"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-mm-15"></td>
            </tr>

            <tr>
                <td class="txt-right">16 Ataque</td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="atac-m-16"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="dan-m-16"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-m-16"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-mm-16"></td>
            </tr>

            <tr>
                <td class="txt-right">17 Ataque</td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="atac-m-17"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="dan-m-17"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-m-17"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-mm-17"></td>
            </tr>

            <tr>
                <td class="txt-right">18 Ataque</td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="atac-m-18"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="dan-m-18"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-m-18"></td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-mm-18"></td>
            </tr>

            
        </tbody>

        <thead>
            <tr>
                <td class="txt-right">Total</td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="atac-m-1">0%</td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="dan-m-1">7,62%</td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-m-1">100%</td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-mm-1">92,38%</td>
            </tr>
        </thead>

    </table>

</div>
