<div class="pure-g pure-g-no-sparcing">
    <table class="pure-table pure-table-horizontal table-vel">
        <thead>
            <tr>
                <th width="75" class="txt-right">Tipo</th>
                <th class="txt-center"></th>
                <th class="txt-center">Quantidade</th>
                <th class="txt-center"></th>
                <th class="txt-center">Gemas</th>
                <th class="txt-center"></th>
                <th width="115" class="txt-left">Tempo</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="txt-right">1 min</td>
                <td width="10" class="txt-center">x</td>
                <td class="txt-center" id="td-vel-1"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="td-gem-1"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="td-tempo-1"></td>
            </tr>

            <tr>
                <td class="txt-right">3 mins</td>
                <td width="10" class="txt-center">x</td>
                <td class="txt-center" id="td-vel-3"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="td-gem-3"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="td-tempo-3"></td>
            </tr>

            <tr>
                <td class="txt-right">5 mins</td>
                <td width="10" class="txt-center">x</td>
                <td class="txt-center" id="td-vel-5"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="td-gem-5"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="td-tempo-5"></td>
            </tr>

            <tr>
                <td class="txt-right">10 mins</td>
                <td width="10" class="txt-center">x</td>
                <td class="txt-center" id="td-vel-10"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="td-gem-10"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="td-tempo-10"></td>
            </tr>

            <tr>
                <td class="txt-right">15 mins</td>
                <td width="10" class="txt-center">x</td>
                <td class="txt-center" id="td-vel-15"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="td-gem-15"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="td-tempo-15"></td>
            </tr>

            <tr>
                <td class="txt-right">30 mins</td>
                <td width="10" class="txt-center">x</td>
                <td class="txt-center" id="td-vel-30"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="td-gem-30"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="td-tempo-30"></td>
            </tr>

            <tr>
                <td class="txt-right">60 mins</td>
                <td width="10" class="txt-center">x</td>
                <td class="txt-center" id="td-vel-60"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="td-gem-60"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="td-tempo-60"></td>
            </tr>

            <tr>
                <td class="txt-right">3 hrs</td>
                <td width="10" class="txt-center">x</td>
                <td class="txt-center" id="td-vel-300"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="td-gem-300"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="td-tempo-300"></td>
            </tr>

            <tr>
                <td class="txt-right">8 hrs</td>
                <td width="10" class="txt-center">x</td>
                <td class="txt-center" id="td-vel-800"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="td-gem-800"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="td-tempo-800"></td>
            </tr>

            <tr>
                <td class="txt-right">15 hrs</td>
                <td width="10" class="txt-center">x</td>
                <td class="txt-center" id="td-vel-1500"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="td-gem-1500"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="td-tempo-1500"></td>
            </tr>

            <tr>
                <td class="txt-right">24 hrs</td>
                <td width="10" class="txt-center">x</td>
                <td class="txt-center" id="td-vel-240"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="td-gem-240"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="td-tempo-240"></td>
            </tr>

            <tr>
                <td class="txt-right">3 dias</td>
                <td width="10" class="txt-center">x</td>
                <td class="txt-center" id="td-vel-3000"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="td-gem-3000"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="td-tempo-3000"></td>
            </tr>

            <tr>
                <td class="txt-right">7 dias</td>
                <td width="10" class="txt-center">x</td>
                <td class="txt-center" id="td-vel-700"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="td-gem-700"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="td-tempo-700"></td>
            </tr>

            <tr>
                <td class="txt-right">30 dias</td>
                <td width="10" class="txt-center">x</td>
                <td class="txt-center" id="td-vel-30000"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="td-gem-30000"></td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="td-tempo-30000"></td>
            </tr>
            <tr>
                <td colspan="2" class="txt-right">Total</td>
                <td id="total-td-vel">X</td>
                <td width="10" class="txt-center"></td>
                <td id="total-td-gem-vel">X</td>
                <td width="10" class="txt-center">=</td>
                <td id="total-td-temp-vel">X</td>
            </tr>
        </tbody>
    </table>

</div>
