<div class="pure-g pure-g-no-sparcing">
    <table class="pure-table pure-table-horizontal table-vel">
        <thead>
            <tr>
                <th width="75" class="txt-right">Ataque</th>
                <th class="txt-center"></th>
                <th class="txt-center">Multiplicador</th>
                <th class="txt-center"></th>
                <th class="txt-center">Dano</th>
                <th class="txt-center"></th>
                <th class="txt-center">Vida Inicial</th>
                <th class="txt-center"></th>
                <th class="txt-center">Vida Final</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="txt-right">1 Ataque</td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="atac-m-1">0%</td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center" id="dan-m-1">7,62%</td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-m-1">100%</td>
                <td width="10" class="txt-center"></td>
                <td class="txt-center" id="vida-m-2">92,38%</td>
            </tr>
        </tbody>
    </table>

</div>
