<div class="pure-g pure-g-no-sparcing">
    <table class="pure-table pure-table-no-borde">
        <thead>
            <tr>
                <th width="75" class="txt-right">Tipo</th>
                <th class="txt-center"></th>
                <th class="txt-center">Quantidade</th>
                <th class="txt-center"></th>
                <th class="txt-center">Gemas</th>
                <th class="txt-center"></th>
                <th width="115" class="txt-left">Tempo</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="txt-right">1 min</td>
                <td width="10" class="txt-center">x</td>
                <td class="txt-center">32</td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center">5</td>
                <td width="10" class="txt-center">=</td>
                <td class="txt-center">1 Minuto</td>
            </tr>

        </tbody>
    </table>
</div>
