<div class="pure-g pure-g-no-sparcing">
    <table class="pure-table pure-table-no-borde">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Quantidade</th>
                <th>Gemas</th>
                <th>Tempo</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><b>1 min</b> x</td>
                <td>32 =</td>
                <td>160 =</td>
                <td>1 Minuto</td>
            </tr>

        </tbody>
    </table>
</div>
