.label-primary {
    background-color: #337ab7;
}
.label-pen {
    display: inline;
    padding: 0.1em .3em .1em;
    font-size: 75%;
    font-weight: bold;
    line-height: 0;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background: #7c334f;
}
.pure-u-1-1-1{
    width:30%;
}
.pure-g-no-sparcing{
    letter-spacing: 0 !important;
}
.pure-table-no-borde td,.pure-table-no-borde th{
    border: 0px !important;
}
.table-per{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.txt-center{
 text-align:center;   
}
.txt-left{
 text-align:left;   
}
.txt-right{
 text-align:right;   
}
