.label-primary {
    background-color: #337ab7;
}
.label-pen {
    display: inline;
    padding: 0.1em .3em .1em;
    font-size: 75%;
    font-weight: bold;
    line-height: 0;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background: #7c334f;
}
.label-pen-white-space-pre-wrap{
    white-space: pre-wrap !important;
}
.pure-u-1-1-1{
    width:30%;
}
.pure-g-no-sparcing{
    letter-spacing: 0 !important;
}
.pure-table-no-borde td,.pure-table-no-borde th{
    border: 0px !important;
}
.table-per{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.txt-center{
 text-align:center;   
}
.txt-left{
 text-align:left;   
}
.txt-right{
 text-align:right;   
}

.table-vel td, .table-vel th {
    padding: .5em 0.9em;
     word-wrap: break-word;
}

.pure-table tbody>tr{
    display: none;
}
#tr-total-val{
    display: none;
}
.total-min-ocult{
    display: none;
}
.oculta-span{
    display: none !important;
}
.pure-menu-list>li{
    background: none !important;
}

@media only screen and (max-width: 640px){
    .table-vel td, .table-vel th{
            padding: .1em 0.1em;
            word-wrap: break-word;
    }   
}

.hr-fonte-pontuacao{
    background: #7c334f;
    width: 100%;
    height: 5px;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}
.invisivel{
    visibility: hidden;
}
.visivel{
    visibility: visible;
}
